{{#if user}}
<p style="text-align: center; margin-top: 20px;">
    <strong>Welcome {{user.first_name}} {{user.last_name}} ({{user.email}}) - Role: {{user.role}}</strong>
</p>
{{/if}}

<main class="product-list">
    <h2>Products</h2>
    <ul id="productList">
        {{#each products}}
        <li>
            <strong>
                <a href="/views/products/details/{{this._id}}">
                    {{this.title}}
                </a>
            </strong> - ${{this.price}} <br />
            <p>{{this.description}}</p>
            <p>Stock: {{this.stock}} units</p>
            <p>Category: {{this.category}}</p>

            <div class="image-container">
                {{#each this.thumbnails}}
                <img src="{{this}}" alt="Product image" width="100" />
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>
</main>

<div class="pagination">
    {{#if pagination.hasPrevPage}}
    <a href="/views/products/view?page={{pagination.prevPage}}">⟨ Anterior</a>
    {{/if}}

    <span style="margin: 0 15px;">Página {{pagination.currentPage}}</span>

    {{#if pagination.hasNextPage}}
    <a href="/views/products/view?page={{pagination.nextPage}}">Siguiente ⟩</a>
    {{/if}}
</div>